body {
  background: url(qr-code/images/image-qr-code.png) fixed no-repeat top left;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: lightblue;
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}
/* for adjustments please use the #inner {width: }   */
#inner {
  width: 300px;
  height: auto;
  background-color: white;
  padding: 15px;
  margin: 40px auto;
  text-align: center;
  border-radius: 15px;
  box-sizing: border-box;
}
/* to adjust/change the text,heading use the #heading and #text  */

#heading {
  font-weight: 700;
  font-size: 1.25em;
}
#text {
  font-weight: 400;
}
